@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quantico:ital@1&display=swap');

body{
    margin:0px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 255, 64));
    
}

button{
    font-family: 'Black Ops One', cursive;
}
.heading{
    font-size: 4rem;
    font-family: 'Black Ops One', cursive;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 3px -1px 0 rgb(255, 255, 255), -1px 3px 0 rgb(255, 255, 255), 3px 3px 0 rgb(255, 255, 255);
}
.container{
    font-family: 'Quantico', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50vw;
    margin: auto;
    
}

#bill-amount, #cash-amount{
    width: 8vw;
    display: inline-block;
}

.rowFlex{
    display: flex;
    flex-direction: row;
}
.inpbutton{
    padding: 0.6rem;
    font-size: large;
    margin-left: 2rem;
}
.table-note{
    border: 3px solid rgb(253, 253, 253);
    padding: 1rem;
    width: 50vw;
}
tr,th,td{
    border:1px solid white;
    background-color: aliceblue;
    
}
.no-of-notes{
    width: 3rem;
}

.checkBill, .btn-check{
    
    margin: auto;
}

.margins{
    margin:2rem;
}

.pads{
    padding: 1rem;
}

.largify{
    font-size: larger;
}